{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/industryDynamics/css/detail.css">
{% endblock %}

{% block content %}
<div class="row news_title_time">
  <div class="col-sm-12 col-xs-12">
    <span class="news_title">{{detailInfo.title}}</span><br />
    <span class="news_time">--{{detailInfo.ctime|date('Y-m-d H:i')}}</span>
  </div>
</div>
<div class="row news_content khfxWarp">
  <div class="col-sm-12 col-xs-12 khfxPane">

    {% autoescape false %}
    {{detailInfo.content}}
    {% endautoescape %}

  </div>
</div>
<div class="row pay_read">
  <div class="col-sm-12 col-xs-12">
    <a href="#">付费阅读</a>
  </div>
</div>
{% endblock %}

{% block footer %}
<!-- 滚动加载内容js -->
<script type="text/javascript" src="/apps/home/views/industryDynamics/js/detail.js"></script>
{% endblock %}