p{
  margin: 0;
}
.weui-bar__item--on svg{
  color: #04BE02;
}
.weui-footer_fixed-bottom{
  bottom: 0;
}
.weui-footer_fixed-bottom .icon{
  width: 33.33%;
  height: 24px;
}
.homepage .weui-grid{
  width: 20%;
  padding: 20px 2px;
}
.homepage .weui-footer, .weui-grid__label{
  font-size:12px;
}
.homepage .weui-grid:after,.homepage .weui-grid:before{
  border: none;
}
.home_menu svg{
  width: 28px;
  height: 28px;
}
.news_box{
  border-bottom: 1px solid #ccc;
}
.news_box span{
  line-height: 40px;
}
.swiper-container{
  height: 200px;
}
#tanchu{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 1000;
}
#addJobNum{
  padding: 20px 15px;
  background-color: #fff;
  width: 80%;
  margin: 35% 10%;
  border-radius: 4px;
}
#addJobNum p{
  line-height: 35px;
}
#addJobNum div input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
#addJobNum div button{
  width: 48%;
  margin: 0;
  border-radius: 4px;
  height: 35px;
  border: none;
  background-color: #ccc;
  color: #fff;
}
#addJobNum div #kefu_tijiao{
  background-color: #04BE02;
}
.tanchu_button{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.tanchu_button a{
  font-size: 12px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
  padding: 5px 8px;
  text-align: center;
  border-radius: 4px;
}