{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/indent/css/detail.css">
{% endblock %}

{% block content %}
<div class="row wait_time">
  <div class="weui-cells">
        {% if orderDetail.status == 2 %}
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <svg class="icon categorie-icon" aria-hidden="true">
              <use style="color:orangered" xlink:href="#icon-shouye"></use>
          </svg>
      </div>
      <div class="weui-cell__bd">
        <span style="color:orangered">订单已超时,请返回商城重新下单</span>
      </div>
    </div>
        {% else %}
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <svg class="icon categorie-icon" aria-hidden="true">
              <use xlink:href="#icon-shouye"></use>
          </svg>
      </div>
      <div class="weui-cell__bd">
        <span>提示:请于半小时内付款，超时订单将自动取消</span>
      </div>
    </div>
        {% endif %}
  </div>
</div>
<div class="row order_details">
  <div class="weui-cells">
    <a  class="weui-cell receipt_address">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <p class="receipt_people">
          <svg class="icon categorie-icon" aria-hidden="true">
              <use xlink:href="#icon-shouye"></use>
          </svg>
          收货人：{{orderDetail.consignee}}
          <span>{{orderDetail.contact_number}}</span>
        </p>
        <span class="address_details">收货地址：{{orderDetail.address}}</span>
      </div>
    </a>
    {% for key,value in orderDetail.goods_name %}
    <a class="weui-cell weui-cell_access order_msg">
      <div class="weui-cell__hd">
        <img src="{{orderDetail.goods_coverpath[key]}}">
      </div>
      <div class="weui-cell__bd">
        <p class="order_name">{{orderDetail.goods_name[key]}}</p>
        <p class="order_name">规格:{{orderDetail.goods_specification[key]}}</p>
        <p class="order_money">￥<span class="each_money">{{orderDetail.goods_price[key]}}</span><i class="number">x<span>{{orderDetail.goods_quantity[key]}}</span></i></p>
      </div>
    </a>
    {% endfor %}
    <div class="weui-cell delivery">
      <div class="weui-cell__bd">
        <p>配送方式</p>
      </div>
      <div class="weui-cell__ft">免运费，快递发货</div>
    </div>
    <div class="weui-cell leave_message">
      <div class="weui-cell__hd">
        <p>买家留言</p>
      </div>
      <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder="{{orderDetail.message}}" readonly="readonly">
      </div>
    </div>
    <div class="weui-cell total">
      <div class="weui-cell__bd">
        <p>合计</p>
      </div>
      <div class="weui-cell__ft">￥<span class="all_money">29800.00</span></div>
    </div>
  </div>
</div>
<div style="height: 56px;"></div>
<div class="row go_pay">
    <div class="go_pay_msg">
    合计：￥<span class="all_money"></span>
      {% if orderDetail.type == 0 and orderDetail.status == 0 %}
        <a onclick="javascript:fun('{{orderDetail.id}}','pay','{{orderDetail.total_price}}')">去支付</a>
      {% elseif orderDetail.status == 3 %}
      <a>申请退款中</a>
      {% elseif (orderDetail.type == 1 or orderDetail.type == 2)  and  orderDetail.status == 0%}
      <a  onclick="javascript:fun('{{orderDetail.id}}','backMoney','{{orderDetail.total_price}}')">申请退款</a>
      {% elseif orderDetail.type == 4 %}
      <a>交易成功</a>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- 滚动加载js -->
<script src="/apps/home/views/indent/js/detail.js"></script>
{% endblock %}