{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/indent/css/index.css">
{% endblock %}

{% block content %}
<!-- 订单列表start -->
<div class="row khfxWarp">
  <div class="col-xs-12 col-sm-12 khfxPane">
    {% if orderInfo == NULL %}
      暂无数据
    {% endif %}
    {% for value in orderInfo %}
       <div class="row myorder_box">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p class="order_number">订单编号：{{value.serial_number}}</p>
          </div>
          <div class="weui-cell__ft order_state">
            {% if value.type == 0 and value.status == 0 %}
            【待付款】
            {% elseif  value.status == 1 %}
            【已取消订单】
            {% elseif  value.status == 2 %}
            【订单超时】
            {% elseif  value.status == 3 %}
            【申请退款中】
            {% elseif  value.status == 4 %}
            【退款失败】
            {% elseif  value.status == 5 %}
            【退款成功】
            {% elseif  value.type == 1 %}
            【待发货】
            {% elseif  value.type == 2 %}
            【待收货】
            {% elseif  value.type == 3 %}
            【待评价】
            {% elseif  value.type == 4 %}
            【售后】
            {% endif %}
          </div>
        </div>
        {% for key,val in value.goods_name %}
        <div class="weui-cell">
            <a href="/indent/detail?id={{value.id}}" class="weui-cell__hd">
              <img src="{{value.goods_coverpath[key]}}">
            </a>
            <div class="weui-cell__bd my_button">
              <p class="order_name">
                {{value.goods_name[key]}}
              </p>
              {% if value.type == 3 and  value.status == 0 %}
              <a class="a_button" href="/goods/estimate?goodName={{value.goods_name[key]}}&spec={{value.goods_specification[key]}}&indentId={{value.id}}">进入评价</a>
              {% endif %}
              <p class="order_guige">规格:{{value.goods_specification[key]}}</p>
              <p class="order_money">单价:￥{{value.goods_price[key]}}<span>x{{value.goods_quantity[key]}}</span></p>
            </div>
        </div>
        {% endfor %}
        <div class="weui-cell">
          <div class="weui-cell__bd">
          </div>
          <div class="weui-cell__ft total_money">合计：￥{{value.total_price}}</div>
        </div>

            {% if value.type == 0 and value.status == 0 %}
        <div class="weui-cell">
          <div class="weui-cell__bd">
          </div>
          <div class="weui-cell__ft">
            <a class="button order_cancel" id="cancel" onclick="javascript:fun('{{value.id}}','cancel','{{value.total_price}}')">取消订单</a>
            <a class="button" onclick="javascript:fun('{{value.id}}','pay','{{value.total_price}}')">立即付款</a>
          </div>
        </div>
            {% elseif value.type == 1 and  value.status == 0%}
        <div class="weui-cell">
          <div class="weui-cell__bd">
          </div>
          <div class="weui-cell__ft">
            <a class="button">发货中</a>
          </div>
        </div>
            {% elseif value.type == 2 %}
        <div class="weui-cell">
          <div class="weui-cell__bd">
          </div>
          <div class="weui-cell__ft">
            <a class="button" onclick="javascript:fun('{{value.id}}','got','')">确认收货</a>
          </div>
        </div>
            {% elseif value.type == 4  and value.status == 0 %}
        <div class="weui-cell">
          <div class="weui-cell__bd">
          </div>
          <div class="weui-cell__ft">
            <a class="button">交易成功</a>
          </div>
        </div>
            {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- 订单列表end -->
{% endblock %}

{% block footer %}
<!-- 滚动加载js -->
<script src="/apps/home/views/indent/js/index.js"></script>
{% endblock %}