{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/article/css/detail.css">
{% endblock %}

{% block content %}
<div class="row news_title_time">
  <div class="col-sm-12 col-xs-12">
    <span class="news_title">{{detailInfo.title}}</span><br />
    <span class="news_time">--
      {{detailInfo.ctime|date('Y-m-d')}}
    </span>
  </div>
</div>
<div class="row news_content khfxWarp">
  <div class="col-sm-12 col-xs-12 khfxPane">
        {% autoescape false %}
          {{detailInfo.content}}
        {% endautoescape %}
  </div>
</div>
{% if detailInfo.needMoney == true and detailInfo.needJobCode is not defined %}
<div class="row pay_read" id="payForRead">
  <div class="col-sm-12 col-xs-12">
    <a>付费阅读--{{detailInfo.price}}元</a>
  </div>
</div>
{% elseif detailInfo.needJobCode == true or  detailInfo.needMoney == true %}
<div class="row pay_read" id="codeForRead1">
  <div class="col-sm-12 col-xs-12">
    <a>邀请码免费阅读</a>
  </div>
</div>
<div class="row pay_read" id="codeForRead2">
  <div class="col-sm-12 col-xs-12">
    <a>付费阅读--{{detailInfo.price}}元</a>
  </div>
</div>
{% elseif detailInfo.needMoney == false %}
<div class="row pay_read">
  <div class="col-sm-12 col-xs-12">
    <a>到底啦</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
<!-- 滚动加载内容js -->
<script type="text/javascript" src="/apps/home/views/article/js/detail.js"></script>
<script>
//付费函数
var data='';
function payFor(needData,urlAction){
  $.ajax({
    url:'/article/'+urlAction,
    data:needData,
    dataType:'json',
    type:'post',
    cache:false,
    async:false,//ajax数据同步
    success:function(re){
      data=re;
    }
  })
  return data;
}
$(function(){
  //付费阅读
  $('#payForRead').click(function(){
    var needData="aid={{detailInfo.id}}&money={{detailInfo.price}}";
    var action='payMoney';
    var article=payFor(needData,action);
    if(article.status==true){
      appendArticle(article.content);
      $(this).css('display','none')
    }else{
      $.toast(article.content);
    }
  })
  //邀请码阅读
  $('#codeForRead1').click(function(){
    var needData="aid={{detailInfo.id}}";
    var action='useCode';
    var article=payFor(needData,action);
    if(article.status==true){
      appendArticle(article.content);
      $(this).css('display','none')
      $('#codeForRead2').css('display','none')
    }else{
      $.toast(article.content);
    }
  })
  //付费
  $('#codeForRead2').click(function(){
    var needData="aid={{detailInfo.id}}&money={{detailInfo.price}}";
    var action='payMoney';
    var article=payFor(needData,action);
    if(article.status==true){
      alert(article.content);
      appendArticle(article.content);
      $(this).css('display','none')
      $('#codeForRead1').css('display','none')
    }else{
      $.toast(article.content);
    }
  })
})
</script>
{% endblock %}