{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/article/css/index.css">
{% endblock %}

{% block content %}
<div class="row wool_table">
  <div class="col-sm-12 col-xs-12 wool_table_title">
    <span>目录1</span>
  </div>
  <div class="col-sm-12 col-xs-12">
    <div class="row">
      <div class="weui-cells">
        {% for value in articleInfo %}
        <a class="weui-cell weui-cell_access" href="/article/detail?id={{value.id}}">
          <div class="weui-cell__bd">
            <p>{{value.title}}</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        {% endfor %}
        <!--<a class="weui-cell weui-cell_access" href="/article/detail">
          <div class="weui-cell__bd">
            <p>章节2</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/detail">
          <div class="weui-cell__bd">
            <p>章节3</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/detail">
          <div class="weui-cell__bd">
            <p>章节4</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/detail">
          <div class="weui-cell__bd">
            <p>章节5</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/detail">
          <div class="weui-cell__bd">
            <p>章节6</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>-->
      </div>
    </div>
  </div>
</div>
{% endblock %}