{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/account/css/index.css">
{% endblock %}

{% block content %}
<div class="row account_balance_box">
  <div class="col-sm-12 col-xs-12 account_word">
    <span>账户余额：</span>
  </div>
  <div class="col-sm-12 col-xs-12 account_balance">
    <i>￥<span class="balance_money" id='lastMoney'>{{moneyInfo.remaining}}</span></i>
  </div>
</div>
<div class="row account_chioce">
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>6</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>28</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>68</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>199</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>328</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4">
    <div class="account_chioce_list">
      ￥<span>698</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="weui-cells weui-cells_radio">
    <label class="weui-cell weui-check__label" for="x11">
      <div class="weui-cell__hd">
        <svg class="icon categorie-icon" aria-hidden="true">
                <use xlink:href="#icon-weixinzhifu"></use>
            </svg>
        </div>
      <div class="weui-cell__bd">
        <p>微信支付</p>
      </div>
      <div class="weui-cell__ft">
        <input type="radio" class="weui-check" name="radio1" id="x11" checked="checked">
        <span class="weui-icon-checked"></span>
      </div>
    </label>
  </div>
</div>
<div class="row account_button">
  <div class="col-sm-12 col-xs-12">
    <a id="recharge">充值</a>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="/apps/home/views/account/js/index.js"></script>
<script>
  $('#recharge').click(function(){
    if(money==''){
      $.toast('请选择充值金额','forbidden');
      return false;
    }
    $.ajax({
      url:'/account/recharge',
      data:'money='+money,
      dataType:'json',
      type:'post',
      success:function(re){
       window.location.href='/Wechatpay/jsapi?appId='+re.appId+'' +
               '&nonceStr='+re.nonceStr+'&package='+re.package+'' +
               '&signType='+re.signType+'&timeStamp='+re.timeStamp+'' +
               '&paySign='+re.paySign+'&money='+money+'' +
               '&wuid='+re.wuid+'&suid='+re.suid;
      }
    })
  })

</script>
{% endblock %}