{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/news/css/detail.css">
{% endblock %}

{% block content %}
<div class="row news_title_time">
  <div class="col-sm-12 col-xs-12">
    <span class="news_title">{{newsDetail.title}}</span><br />
    <span class="news_time">--{{newsDetail.ctime|date('Y-m-d H:i')}}</span>
  </div>
</div>
<div class="row news_content khfxWarp">
  <div class="col-sm-12 col-xs-12 khfxPane">
    {% autoescape false %}
       {{newsDetail.content}}
    {% endautoescape %}
  </div>
</div>
{% endblock %}

{% block footer %}
<!-- 滚动加载内容js -->
{% endblock %}