{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/receiverAddress/css/addresslist.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-xs-12 management">
    <a href="../receiverAddress/index">地址管理</a>
  </div>
  <div class="col-sm-12 col-xs-12 addresslist">
    <p>某某某<span>18875027595</span></p>
    <p class="address_detail"><span>[默认地址]</span>重庆市九龙坡区袁家岗小时代5层</p>
  </div>
  <div class="col-sm-12 col-xs-12 addresslist">
    <p>某某某<span>18875027595</span></p>
    <p class="address_detail"><span></span>重庆市九龙坡区袁家岗小时代5层</p>
  </div>
  <div class="col-sm-12 col-xs-12 addresslist">
    <p>某某某<span>18875027595</span></p>
    <p class="address_detail"><span></span>重庆市九龙坡区袁家岗小时代5层</p>
  </div>
</div>
{% endblock %}