{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/receiverAddress/css/index.css">
{% endblock %}

{% block content %}
<div class="row order_details">
  <div class="weui-cells">
    <a href="javascript:;" class="weui-cell receipt_address">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <p class="receipt_people">
          赵四
          <span>18423031898</span>
        </p>
        <span class="address_details">重庆市九龙坡区袁家岗小时代5层</span>
      </div>
    </a>
    <div class="weui-cell address_bottom">
      <div class="weui-cell__bd">
          <div class="tick tick_active">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-gou-copy"></use>
              </svg>
          </div>
          <span class="address_default address_default_active">默认地址</span>
      </div>
      <div class="weui-cell__ft">
        <a href="/receiverAddress/add" class="address_edit">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-bianji"></use>
              </svg>
              <span>编辑</span>
            </a>
            <a class="address_delete">
            <svg class="icon categorie-icon" aria-hidden="true">
                <use xlink:href="#icon-shanchu-copy"></use>
              </svg>
              <span>删除</span>
            </a>
      </div>
    </div>
  </div>
</div>
<div class="row order_details">
  <div class="weui-cells">
    <a href="javascript:;" class="weui-cell receipt_address">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <p class="receipt_people">
          赵四
          <span>18423031898</span>
        </p>
        <span class="address_details">重庆市九龙坡区袁家岗小时代5层</span>
      </div>
    </a>
    <div class="weui-cell address_bottom">
      <div class="weui-cell__bd">
          <div class="tick">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-gou-copy"></use>
              </svg>
          </div>
          <span class="address_default">默认地址</span>
      </div>
      <div class="weui-cell__ft">
        <a href="/receiverAddress/add" class="address_edit">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-bianji"></use>
              </svg>
              <span>编辑</span>
            </a>
            <a class="address_delete">
            <svg class="icon categorie-icon" aria-hidden="true">
                <use xlink:href="#icon-shanchu-copy"></use>
              </svg>
              <span>删除</span>
            </a>
      </div>
    </div>
  </div>
</div>
<div class="row order_details">
  <div class="weui-cells">
    <a href="javascript:;" class="weui-cell receipt_address">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <p class="receipt_people">
          赵四
          <span>18423031898</span>
        </p>
        <span class="address_details">重庆市九龙坡区袁家岗小时代5层</span>
      </div>
    </a>
    <div class="weui-cell address_bottom">
      <div class="weui-cell__bd">
          <div class="tick">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-gou-copy"></use>
              </svg>
          </div>
          <span class="address_default">默认地址</span>
      </div>
      <div class="weui-cell__ft">
        <a href="/receiverAddress/add" class="address_edit">
            <svg class="icon categorie-icon" aria-hidden="true">
                  <use xlink:href="#icon-bianji"></use>
              </svg>
              <span>编辑</span>
            </a>
            <a class="address_delete">
            <svg class="icon categorie-icon" aria-hidden="true">
                <use xlink:href="#icon-shanchu-copy"></use>
              </svg>
              <span>删除</span>
            </a>
      </div>
    </div>
  </div>
</div>
<a href="/receiverAddress/add" class="row addAddress">
  添加新地址
</a>
{% endblock %}

{% block footer %}
<!-- 当前页面js -->
<script src="/apps/home/views/receiverAddress/js/index.js"></script>
{% endblock %}