{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/catalogue/css/index.css">
{% endblock %}

{% block content %}
<div class="row wool_top_img"></div>
<div class="row wool_table">
  <div class="col-sm-12 col-xs-12 wool_table_title">
    <span>毛料目录</span>
  </div>
  <div class="col-sm-12 col-xs-12">
    <div class="row">
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录1</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录2</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录3</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录4</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录5</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/article/index">
          <div class="weui-cell__bd">
            <p>目录6</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}