{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/mySelf/css/index.css">
{% endblock %}

{% block content %}
<!-- 头像start -->
<div class="row myself_avatar_box">
  <div class="myself_avatar">
    <img src="{{headpath}}">
  </div>
  <div class="myself_welcome">
    <span>欢迎您，{{name}}</span>
  </div>
</div>
<!-- 头像end -->
<!-- 分类start -->
<div class="row myself_class">
  <div class="weui-grids">
    <a href="/indent/index?type=0" class="weui-grid js_grid">
      {% if orderNum0.num %}
      <span class="weui-badge" style="position: absolute;top: 6px;right: 1em;">{{orderNum0.num}}</span>
      {% endif %}
      <div class="weui-grid__icon">
        <svg class="icon categorie-icon" aria-hidden="true">
            <use xlink:href="#icon-daifukuan"></use>
          </svg>
      </div>
      <p class="weui-grid__label">
        待付款
      </p>
    </a>
    <a href="/indent/index?type=2" class="weui-grid js_grid">
      {% if orderNum1.num %}
      <span class="weui-badge" style="position: absolute;top: 6px;right: 1em;">{{orderNum1.num}}</span>
      {% endif %}
      <div class="weui-grid__icon">
        <svg class="icon categorie-icon" aria-hidden="true">
            <use xlink:href="#icon-daishouhuo"></use>
          </svg>
      </div>
      <p class="weui-grid__label">
        待收货
      </p>
    </a>
    <a href="/indent/index?type=3" class="weui-grid js_grid">
      {% if orderNum2.num %}
      <span class="weui-badge" style="position: absolute;top: 6px;right: 1em;">{{orderNum2.num}}</span>
      {% endif %}
      <div class="weui-grid__icon">
        <svg class="icon categorie-icon" aria-hidden="true">
            <use xlink:href="#icon-daipingjia"></use>
          </svg>
      </div>
      <p class="weui-grid__label">
        待评价
      </p>
    </a>
    <a href="/indent/index?type=4" class="weui-grid js_grid">
      {% if orderNum3.num %}
      <span class="weui-badge" style="position: absolute;top: 6px;right: 1em;">{{orderNum3.num}}</span>
      {% endif %}
      <div class="weui-grid__icon">
        <svg class="icon categorie-icon" aria-hidden="true">
            <use xlink:href="#icon-shouhoufuwu"></use>
          </svg>
      </div>
      <p class="weui-grid__label">
        售后服务
      </p>
    </a>
  </div>
</div>
<!-- 分类end -->
<div class="row myself_bottom">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="/indent/index">
      <div class="weui-cell__hd">
      <svg class="icon categorie-icon" aria-hidden="true">
              <use xlink:href="#icon-aiguifanfile2"></use>
          </svg>
      </div>
      <div class="weui-cell__bd">
        <p class="bottom_list">我的订单</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/shopCart/index">
      <div class="weui-cell__hd">
      <svg class="icon categorie-icon" aria-hidden="true">
              <use xlink:href="#icon-gouwuche"></use>
          </svg>
      </div>
      <div class="weui-cell__bd">
        <p class="bottom_list">我的购物车</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/receiverAddress/index">
      <div class="weui-cell__hd">
      <svg class="icon categorie-icon" aria-hidden="true">
              <use xlink:href="#icon-shouhuodizhi"></use>
          </svg>
      </div>
      <div class="weui-cell__bd">
        <p class="bottom_list">我的收货地址</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
  </div>
</div>
{% endblock %}