<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>存己框架</title>
    <!-- Bootstrap -->
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- sweetalert插件 -->
    <link href="/public/sweetalert-master/dist/sweetalert.css">
  </head>
  <body>

    {% block content %}

    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- 表单验证插件 -->
    <script src="/public/jquery-validation-1.16.0/dist/jquery.validate.min.js"></script>
    <script src="/public/jquery-validation-1.16.0/lib/jquery.form.js"></script>
    <!-- sweetalert插件 -->
    <script src="/public/sweetalert-master/dist/sweetalert.min.js"></script>
  </body>
</html>