<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>昆明玉投商贸</title>
    <!-- Bootstrap -->
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- sweetalert插件 -->
    <link href="/public/sweetalert-master/dist/sweetalert.css">
    <!-- jQuery WeUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <!-- 滚动加载css -->
    <link rel="stylesheet" type="text/css" href="/apps/home/views/dropload.css">
    <!-- 阿里图标 -->
    <style type="text/css">
      .icon {
         width: 1em; height: 1em;
         vertical-align: -0.15em;
         fill: currentColor;
         overflow: hidden;
      }
      a:hover{
        text-decoration: none !important;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      img{
        width: 100%;
        height: 100%;
      }
      p{
        margin: 0;
      }
      .dropload-down{
        width: 100%;
      }
    </style>

    {% block header %}

    {% endblock %}

  </head>
  <body>

    <div class="container-fluid bigBox">

    {% block content %}

    {% endblock %}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- 表单验证插件 -->
    <script src="/public/jquery-validation-1.16.0/dist/jquery.validate.min.js"></script>
    <script src="/public/jquery-validation-1.16.0/lib/jquery.form.js"></script>
    <!-- sweetalert插件 -->
    <script src="/public/sweetalert-master/dist/sweetalert.min.js"></script>
    <!-- jQuery WeUI -->
    <script src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
    <!-- 阿里巴巴矢量图标 -->
    <script src="http://at.alicdn.com/t/font_8h5gm4yc8a8dj9k9.js"></script>
    <!-- 滚动加载js -->
    <script type="text/javascript" src="/apps/home/views/dropload.js"></script>
    <!-- 动态获取高度 -->
    <script type="text/javascript" src="/apps/home/views/index.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".swiper-container").swiper({
                loop: true,
                autoplay: 3000
            });
        })
    </script>

    {% block footer %}

    {% endblock %}

  </body>
</html>