{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/goods/css/estimate.css">
{% endblock %}

{% block content %}
<form onsubmit="return aa()" name="address_save" id="address_save" action="/goods/saveEstimate" method="post">
<div class="row evaluation_choice">
  <div class="col-sm-12 col-xs-12">
    <div class="row evaluation_choice_border">
      <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <div class="weui-cells weui-cells_radio">
          <label class="weui-cell weui-check__label" for="x13">
            <div class="weui-cell__bd">
              <p>好评</p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" class="weui-check" name="radio1" id="x13" value="0" checked="checked">
              <span class="weui-icon-checked"></span>
            </div>
          </label>
          <label class="weui-cell weui-check__label" for="x12">
            <div class="weui-cell__bd">
              <p>中评</p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" name="radio1" value="1" class="weui-check" id="x12" >
              <span class="weui-icon-checked"></span>
            </div>
          </label>
          <label class="weui-cell weui-check__label" for="x11">
            <div class="weui-cell__bd">
              <p>差评</p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" name="radio1" value="2" class="weui-check" id="x11" >
              <span class="weui-icon-checked"></span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
  <input type="hidden" value="{{goodsId.id}}" name="goodsid"/>
  <input type="hidden" value="{{spec}}" name="spec"/>
  <input type="hidden" value="{{indentId}}" name="indentId"/>
<div class="row">
  <div class="col-sm-12 col-xs-12 evaluation_content">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" name="content" placeholder="请输入文本" rows="3" onKeyDown="textCounter();" onKeyUp="textCounter();"></textarea>
          <div class="weui-textarea-counter"><span class="number_word">0</span>/20</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <input id="evaluation_submit" type="submit" value="提交评价" class="weui-btn weui-btn_primary"/>
  </div>
</div>
</form>
{% endblock %}
{% block footer %}
<script type="text/javascript">
   function textCounter() {  
       var textarea=$(".weui-textarea").val().replace(/\s/gi,'');
       var textareaLen=textarea.length;
       if(textareaLen>20){
          $(".number_word").html("20");
          $(".weui-textarea").val(textarea.substr(0,20));
       }else{
         $(".number_word").html(textareaLen);
       }
    }  
    function aa(){
      var textarea=$(".weui-textarea").val().replace(/\s/gi,'');
      if(textarea==""){
        $.toast("评价内容不能为空","cancel");
        return false;
      }
    }
</script>
{% endblock %}