{% extends "layouts.html" %}

{% block header %}
<link rel="stylesheet" href="/apps/home/views/goods/css/index.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-xs-12 allproduct">
    <span>
      {% if type==0 %}
      毛料专区
      {% else %}
      成品专区
      {% endif %}
    </span>
  </div>
  <div class="col-sm-12 col-xs-12 product_list_box khfxWarp">
    <div class="row khfxPane">
      <!-- 商品列表start -->
      {% for value in goodsInfo %}
      <div class="col-sm-6 col-xs-6 product_list">
        <a href="/goods/detail?id={{value.id}}" class="product_content">
          <img src="{{value.cover_path['0']}}">
          <div class="product_title_bcg">
          </div>
          <div class="product_title">
            <span>{{value.cname}}</span>
          </div>
        </a>
      </div>
      {% endfor %}
      <!-- 商品列表end -->
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="/apps/home/views/goods/js/index.js"></script>
<script>
  var page=0;//定义当前初始页数
  var data='';
  var type="{{type}}";
  function newData(){
    $.ajax({
      url:'/good/moreData',
      data:'page='+page+'&type='+type,
      type:'post',
      cache:false,
      async:false,//ajax数据同步
      dataType:'json',
      success:function(re){
        data=re;
      }
    })
    return data;
  }
</script>
{% endblock %}